{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

        {% block pageHeader %}
            <div class="page-header clear-filter page-header-small" filter-color="orange">
                <div class="page-header-image" data-parallax="true" style="background-image:url({{ asset('assets/img/bg7.jpg')}});">
                </div>
                <div class="container">
                    <div class="photo-container">
                        <img src="{{ asset(imageUrl) }}" alt="">
                    </div>
                    <h3 class="title">{{ title }}</h3>
                    <p class="category">{{ category }}</p>
                </div>
            </div>
        {% endblock %}

        {% block mainSection %}
            <h3 class="title">Timeline</h3>
            <div class="card">
            </div>
            {% for card in cards %}
            {% set author = card.author %}
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-1">
                        <a href="#"><img src="{{ asset(author.imageUrl) }}" class="card-img" alt="{{ author.name }}"></a>
                    </div>
                    <div class="col-md-11">
                        <div class="card-body">
                            <h4 class="card-title">{{ card.title }}</h4>
                            <p class="card-text">{{ card.content }}</p>
                            <p class="card-text"><small class="text-muted">Created at: {{ card.createdAt |date('d/m/Y H:i') }}</small></p>
                            <a href="#" class="card-link"><i class="far fa-heart"></i> Like</a>
                            <a href="#" class="card-link"><i class="fas fa-heart"></i> Dislike</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        {% endblock %}